<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.2.xsd">
	
	<!-- 加载配置文件 -->
	<context:property-placeholder location="classpath:resource/rocketmq.properties"/>
	<!-- rocketmq消费者回调函数 -->
	<bean id="consumerListener" class="cn.yangdali.rocketmq.listener.ArticleBloomComsumerListener"></bean>
	<!-- rocketmq消费者 -->
	<bean id="recketmqConsumer" class="org.apache.rocketmq.client.consumer.DefaultMQPushConsumer" init-method="start" destroy-method="shutdown">
		<property name="consumerGroup" value="article_consumer"/>
		<property name="namesrvAddr" value="${rocketmq.consumer.namesrvAddr}"/>
		<property name="messageListener" ref="consumerListener"></property>
		<!-- subscription的set方法源码中被标记为过时的，在2020年4月份将被移除 -->
		<!-- 官网给出例子，采用cunsumer.subscribe("TopicTest","TagA || TagC || TagD")来指定消费者接受的Topic -->
		<property name="subscription">
			<map>
				<entry key="Article_Topic">
					<value>*</value>
				</entry>
			</map>
		</property>
	</bean>
</beans>